img{
  width: auto;
}
.hero{
  display:flex;
  justify-content:center;
  align-item:center;
  width:100%;



}

.hero_left{
  padding-left:150px;
  margin-top: 200px;
  


}
.hero_left h1{
  font-size:40px;

}

.hero_left p{
  font-size:14px;

}

.hero_left button{
  border-radius: 1rem;
font-weight: 700;
margin-top:10px;
padding-left:20px;
padding-right:20px;
padding-top:5px;
padding-bottom:5px

}

.hero_right img{
    max-width:30vw;
}

/* media query for mobile device */

@media only screen and (min-device-width:300px ) and (max-device-width: 480px){

  .hero_right img{
    margin-top:20px;
    max-width: 100vw;
  }

  .hero_left{
    padding-left:0px;
    font-family:sans-serif;
    display:flex;
    justify-content:center;
    margin-top:20px;
    align-item:center;
    flex-direction:column;

  }
  .hero_left p{
    text-align:center;
  }
}